@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

a {
  color: #a9a9a9;
  font-size: 16px;
}

.header {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 100px;
  margin-bottom: 100px;
  align-items: center;
}

.footer {
  background-color: #eeeeee;
  display: flex;
}

.left-links {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: flex-start;
  list-style-type:none;
  padding-left: 10px;
  gap: 10px;
}

.right-links {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: flex-end;
  list-style-type:none;
  padding-right: 10px;
  gap: 10px;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}


